<launch>

  <!-- GAZEBO WORLD -->
  <arg name="world" default="corridor_reinforcement_learning"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simulation)/worlds/$(arg world).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="false"/> 
    <arg name="debug" value="false"/>
    <arg name="headless" value="true"/>
  </include>


  <!-- ACTORS (PEDESTRIANS) -->
  <group ns="actor_1">
    <node pkg="actor" type="simulate_actor.py" name="simulate_actor" output="screen">
        <param name="namespace" type="string" value="actor_1" />
        <param name="colour" type="string" value="red" />
        <param name="start_x" type="double" value="3.0" />
        <param name="start_y" type="double" value="1.7" />
        <param name="start_yaw" type="double" value="-1.57" />
        <param name="goal_x" type="double" value="3.0" />
        <param name="goal_y" type="double" value="-1.7" />
    </node>
  </group>

  <group ns="actor_2">
    <node pkg="actor" type="simulate_actor.py" name="simulate_actor" output="screen">
        <param name="namespace" type="string" value="actor_2" />
        <param name="colour" type="string" value="blue" />
        <param name="start_x" type="double" value="11.0" />
        <param name="start_y" type="double" value="-1.6" />
        <param name="start_yaw" type="double" value="1.57" />
        <param name="goal_x" type="double" value="11.0" />
        <param name="goal_y" type="double" value="1.6" />
    </node>
  </group>

  <group ns="actor_3">
    <node pkg="actor" type="simulate_actor.py" name="simulate_actor" output="screen">
        <param name="namespace" type="string" value="actor_3" />
        <param name="colour" type="string" value="green" />
        <param name="start_x" type="double" value="11.0" />
        <param name="start_y" type="double" value="1.6" />
        <param name="start_yaw" type="double" value="-1.57" />
        <param name="goal_x" type="double" value="11.0" />
        <param name="goal_y" type="double" value="-1.6" />
    </node>
  </group>

  <group ns="actor_4">
    <node pkg="actor" type="simulate_actor.py" name="simulate_actor" output="screen">
        <param name="namespace" type="string" value="actor_4" />
        <param name="start_x" type="double" value="11.0" />
        <param name="start_y" type="double" value="-1.6" />
        <param name="start_yaw" type="double" value="1.57" />
        <param name="goal_x" type="double" value="11.0" />
        <param name="goal_y" type="double" value="1.6" />
    </node>
  </group>

  <node pkg="actor" type="collect_actor_topics.py" name="collect_actor_topics" output="screen"/>


  <!-- MAP, AMCL & RVIZ -->
  <!--<node name="map_server" pkg="map_server" type="map_server" args="$(find simulation)/maps/$(arg world).yaml" />
  <include file="$(find simulation)/launch/rviz.launch"/> 
  <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/> -->

</launch>